.subheader {
	text-align: center;
	margin-top: 25px;
}

p {
	font-family: helvetica, sans-serif;
}

body {
	font-size: 12px;
}
/*added this body tag thingie whatever to try and play with ems and rems
but went back to px so this is just being overridden elsewhere now!*/

.outerCircle {
	width: 450px;
	height: 450px;
	background: black;
	color: white;
	border-radius: 50%;
	display: block;
	margin: auto;
}

.outerCircle{
    margin: 0 auto!important;   
}

.innerCircle {
	width: 159px;
	height: 159px;
	margin-top: 100px;
	/*reduced this to move circle up*/
	border-radius: 50%;
	background: DarkRed;
	display: inline-block;

}

.core {
	position: relative;
	z-index: 2;
	width: 0px;
	height: 0px;
	border-top: 110px solid FireBrick;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 0px solid transparent;
	margin: auto;
	margin-top: 46px;
	opacity: 0;
}


#coreText {
	width: 50px;
	position: absolute;
	color: black;
	top: -125px;
	/* decreased to -125 from maybe -110 or something to move this up. what is this based on?
	what is this -125 pixels from?*/
	left: -25px;
	margin: auto;
	font-family: MV Boli;
	font-size: 13px;
}

#btnShake {
	width: 200px;
	height: 100px;
	width: 79px;
	height: 29px;
	font-size: 17px;
	font-family: showcard gothic;
	border-radius: 9px;
	visibility: hidden;
}

form {
	margin-top: 20px;
}