body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
}

header {

	padding-left: 2%;
	padding-bottom: 10px;
	border-bottom: 2px solid lightgray;
	border-top: 0;
	background-color: white; 
}

.logo {
	display: inline-block;
	padding-top: 5px;
}

.logo a {
	display: inline-block;
}

img {
	vertical-align: bottom;
}

#pageInfo {
	display: none;
	width: 300px;
	margin: auto;
	margin-bottom: 30px;
	position: absolute;
	right: 0;
	margin-top: 81px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 15px;
	border: 8px solid black;
	border-right-width: 35px;
	border-radius: 11px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	background-color: white;
	z-index: 99;
	text-align: left;
	box-shadow: -5px 8px 23px 0px rgba(0, 0, 0, 0.43);
}

#pageInfo a {
	cursor: pointer;
	color: #09e;
}

#pageInfo a:hover {
	color: black;
}

.infoBoxHeader {
	margin-top: 11px;
	margin-bottom: 16px;
	color: black;
}

.infoBoxDescription {
	font-size: 14px;
	color: black;
}

.hidePageInfo {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}

.tooltip {
	float: right;
	margin-right: 4%;
	margin-top: 11px;
	cursor: default;
}

.tooltip span {
	display: none;
	position: absolute;
	font-size: 11px;
	font-weight: bold;
	color: gray;
	margin-left: 2px;
	margin-top: -1px;
}

.tooltipInfo {
	font-family: verdana, sans-serif;
}

.infoButton {
	cursor: pointer;
}

.subHeader {
	clear: both;
}